:root {
    --text-color: #ffffff;
    --text-color2: #000000;
}

@font-face {
    font-family: zomboid;
    src: url('assets/fonts/Zomboid.ttf');
}

@keyframes float {
    0% {
        transform: translateX(-50%) translateY(0);
    }

    50% {
        transform: translateX(-50%) translateY(-25px);
    }

    100% {
        transform: translateX(-50%) translateY(0);
    }
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    font-family: Helvetica, sans-serif;
    color: var(--text-color);
}


main {
    width: 100%;
    min-height: 100vh;

    background-size: cover;
    background-image: url('assets/images/background.png');
    background-repeat: no-repeat;
    background-position: center;

    position: relative;
}

main::before {
    content: "";

    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    z-index: 1;
}

header,
.hero,
.vision {
    position: relative;
    z-index: 2;
}

header {
    display: flex;

    justify-content: space-between;
    align-items: center;

    padding: 20px 80px;
}

header img {
    width: 150px;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 14px;
    transition: 0.3s;
}

nav a:hover {
    opacity: 0.7;
}

.nav-right {
    display: flex;
    gap: 1rem;
}

.nav-right i {
    width: 40px;
    height: 40px;

    background: var(--text-color);
    color: var(--text-color2);
    border-radius: 12px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    transition: 0.3s;
}

.nav-right i:hover {
    transform: translateY(-3px);
}


.hero {
    position: relative;
    min-height: calc(100vh - 90px - 200px);

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.shinsei-content {
    position: relative;
    z-index: 3;
    
    text-align: center;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    animation: fadeUp 1.2s ease;
}

.shinsei-content h4 {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 10px;
}

.shinsei-content h1 {
    font-family: zomboid;

    font-size: 8rem;
    line-height: 1;
    letter-spacing: 6px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.shinsei-content h4:last-of-type {
    font-size: 26px;
}

.shinsei-content button {
    margin-top: 30px;
    padding: 18px 60px;
    border: none;
    border-radius: 10px;
    background: #e5c66b;
    color: black;
    font-weight: 700;
    letter-spacing: 2px;
    cursor: pointer;
    transition: 0.3s;
}

.shinsei-content button:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 20px #00000066;
}

.hero-character {
    height: 85%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    
    animation: float 4s ease-in-out infinite;
}

.shinsei-content h1,
.shinsei-content h4 {
    text-shadow: 0 4px 20px #00000080;
}

.vision {
    background: linear-gradient(transparent,#2b2237,#2b2237,#2b2237);
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    height:280px;
    position: fixed;
    bottom: 0;
}

.vision-content {
    max-width: 100%;
    text-align: center;
}

.vision h2 {
    font-family: zomboid;
    font-size: 1.5rem;
    letter-spacing: 4px;
}

.vision p {
    color: #d7d2df;
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: 0.3px;
    text-align: left;
    column-count: 2;
    width: 60%;
}

.vision img {
    height:10px;
}
